Source: casparcg-scanner
Maintainer: Julian Waller <git@julusian.co.uk>
Section: video
Priority: optional
Standards-Version: 4.6.0.1
Build-Depends: debhelper-compat (= 13)
Homepage: https://github.com/CasparCG/media-scanner/
Vcs-Git: https://github.com/Julusian/CasparCG-ppa.git
Vcs-Browser: https://github.com/Julusian/CasparCG-ppa/

Package: casparcg-scanner
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, ffmpeg
Architecture: amd64
Description: media scanner for casparcg-server
 Play out professional graphics, audio and video to multiple outputs as a
 layerbased real-time compositor.
